################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# Build artifacts
bin/
obj/
.cache/

# User-specific files
.vs/
*.user
*.suo

# Logs
*.log

# NuGet packages
*.nupkg
packages/

